#header{
    font-family: 'Lato', sans-serif;
    height: 60px;
    width: 100%;
    background-color: #06283D;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}

#header h1{
    display: flex;
    margin: 0;
}

body{
    margin: 0;
}
#contenedor{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    border-radius: 2%;
    max-width: 500px;
    width: 80%;
    justify-content: center;
    align-items: flex-start;
    background-color: #47B5FF;
    padding: 20px;
}

input{
    font-family: 'Lato', sans-serif;
    width: 100%;
}
label{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
button{
    font-family: 'Lato', sans-serif;
    background-color: #256D85;
    border-color: #256D85;
    border-radius: 0.2rem;
    color: white;
    cursor: pointer;
    border-style: solid;
    align-self: flex-end;
}

#original,
#ordenado {
    width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: white;
	text-align: center;
	border: 1px solid black;
	margin-bottom: 1rem;
}

p {
	display: inline;
	margin: 0;
	border: 1px solid black;
	font-size: 18px;
}

p:hover {
	background-color: #e6e6e6;
}